<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Github Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    
    <ion-row>
      <ion-item>
        <ion-label position="floating">Github Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      
      <ion-button 
        color="primary" 
        expand="block"
        fill="outline"
        (click)="getGithubUser()">
        Search
      </ion-button>
    </ion-row>
    
    <ion-row justify-content-center>
      <div *ngIf="loading">
        <ion-spinner></ion-spinner>
      </div>
    </ion-row>
    
    <ion-row justify-content-center>
      <div *ngIf="user" justify-content-center>
        <img class="user-image" [src]="user.avatar_url">
        <ion-label>{{user.name}}</ion-label>
      </div>
    </ion-row>
    
  </ion-grid>
  
</ion-content>
